target
/.idea/
.tmp
*.iml
.vscode
.settings
.project
.factorypath
.classpath
alien4cloud-nexus-inventory-ui-export/dist
alien4cloud-nexus-inventory-ui-export/node
alien4cloud-nexus-inventory-ui-export/node_modules
