
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-actions {
    flex: 0 0 10%;
}
.mat-column-fileName {
    flex: 0 0 30%;
}
.mat-column-status {
    flex: 0 0 15%;
}
.mat-column-submitDate {
    flex: 0 0 15%;
}
.mat-column-endDate {
    flex: 0 0 15%;
}


/*
.fileover {
    transform: scale(0.8);
}
*/
